@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    user-select: none; /* Deshabilitar selección de texto */
    -webkit-user-select: none; /* Soporte para Safari y Chrome */
    -moz-user-select: none; /* Soporte para Firefox */
    -ms-user-select: none; /* Soporte para Internet Explorer */
  }

  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.title {
    animation: neon 4s infinite;
    color: #ff3333;
    text-shadow: 0 0 10px #ff3333, 0 0 20px #ff3333, 0 0 30px #ff3333;
  }
  
  @keyframes neon {
    0% {
      text-shadow: 0 0 10px #a58585, 0 0 20px #a58585, 0 0 30px #a58585;
    }
    50% {
      text-shadow: 0 0 20px #ff3333, 0 0 30px #ff3333, 0 0 40px #ff3333;
    }
    100% {
      text-shadow: 0 0 10px #a58585, 0 0 20px #a58585, 0 0 30px #a58585;
    }
  }

  
.scroll-down-button {
    position: absolute;
    bottom: 101%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cab7b7;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite;
  }
  
  .scroll-down-button::before {
    content: "\2193"; /* flecha descendente */
    font-size: 24px;
    color: #333;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.leaf1 {
    animation: float 4s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Mueve la imagen 10px hacia arriba */
    }
    100% {
      transform: translateY(0);
    }
  }

  .leaf2 {
    animation: float 3s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Mueve la imagen 10px hacia arriba */
    }
    100% {
      transform: translateY(0);
    }
  }

  .bush1 {
    animation: sway 3s infinite;
  }
  
  @keyframes sway {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Mueve la imagen 10px hacia la derecha */
    }
    100% {
      transform: translateX(0);
    }
  }

  .bush1 {
    animation: sway 4s infinite;
  }
  
  @keyframes sway {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Mueve la imagen 10px hacia la derecha */
    }
    100% {
      transform: translateX(0);
    }
  }

body {
    overflow: hidden;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #946a6a 30%, #000000);
    position: relative;
    overflow: hidden;
  }

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: rgba(108,29,34,255);
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}


