/* Import */
@import url("../font/style.css");

.cuadrado-blanco {
  width: 200px;
  height: 200px;
  background-color: rgb(20, 19, 19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  